@import url('1-styles.css');
@import url('2-componentes.css');
@import url('3-layout.css');
@import url('4-hero.css');
@import url('5-header.css');
@import url('6-productos.css');
@import url('7-footer.css');
@import url('8-responsive.css');

.merriweather-uniquifier {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

