@import url('2-componentes.css');
@import url('3-layout.css');
@import url('4-hero.css');
@import url('5-header.css');
@import url('6-productos.css');
@import url('7-footer.css');
@import url('8-responsive.css');

@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

html{
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #fff;
  color: #222;
}

/* fuentes */
.merriweather-uniquifier {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Estilos Globales */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: inherit;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: inherit;
}

h4 {
  font-size: 20px;
  color: inherit;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

