.alerta{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #9775fa;
    color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 0.9rem;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.alerta info{
    background-color: #3b82f6;
}

.alerta.success{
    background-color: #10b981;
}

.alerta.error{
    background-color: #ef4444;
}

.form-group.error input,
.footer-newsletter.error input {
    border: 2px solid   #e74c3c;
    background-color: #fff6f6;
    color: #e74c3c;
}

.error-msg {
    display: block;
    font-size: 0.9rem;
    color: #e74c3c;
    margin-top: 4px;
}