.footer{
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    padding-top: 2rem;
}

.footer h4,
.footer h5{
    color: var(--bs-primary);
    font-family: "Playfair Display", serif;
    margin-bottom: 1rem;
}

.footer a{
    text-decoration: none;
    color: var(--bs-body-color);
    transition: color 0.3s ease;
}
.footer a:hover{
    color: var(--bs-primary);
}

.footer-columna{
    text-align: center;
}

.footer-links{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

.footer-links li{
    margin-bottom: 0.5rem;
}

.footer-links a{
    color: var(--bs-body-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover{
    color: var(--bs-primary);
}

.social-iconos{
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    justify-content: center;
}

.social-iconos a{
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: var(--bs-primary);
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-iconos a:hover{
    transform: scale(1.2);
    color: var(--bs-secondary);
}

.footer-copy{
    font-size: 0.9rem;
    color: var(--bs-tertiary);
}