/* La fuente base del body sera de 16px(por defecto en la mayoria de navegadores) */
body{
    font-size: 20px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* 100% de la altura de la ventana del navegador */
}
.principal{
    width: 800px;
}
/* contenedor principal */
.contenedor{
    width: 80%;
    /* 80% del ancho disponible */
    height: 100vh;
    /* 50% de la altura de la ventana del navegador */
    margin: 5vh auto;
    /* 5% de la altura como margen arrib y abajo, centrado horizontalmente */
    background-color: lightblue;
    padding: 2rem;
    /* 2 veces el tamaño de la fuente raiz (16px * 2 = 32px) */
    border-radius: 1rem;
    /* 1 vez el tamaño de la fuente del elemento actual */
}
/* Titulo dentro del contenedor */
.contenedor h1{
    font-size: 1.5rem;
    /* 2 veces el tamaño de la fuente raiz */
    margin-bottom: 1em;
    /* 1 vez el tamaño de la fuente actual */
}
/* Parrafo dentro del contenedor */
.contenedor p{
    font-size: 1rem;
    /* igual al tamaño de la fuente raiz */
}
/* Boton dentro del contenedor */
.contenedor button{
    font-size: 1em;
    /* igual al tamaño de la fuente del contenedor */
    padding: 0.5em  1em;
    /* arriba/abajo 0.5em y derecha/izquierda 1em */
    width: 30vw;
    /* 30% del ancho de la ventana del navegador */
    background-color: coral;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}
.contenedor button:hover{
    background-color: darkorange;
}
svg{
    width: 800px;
    height: 600px;
}