.body{
    background-color: beige;
}

.caja{
    width: 120px;
    height: 120px;
    border: 1px solid rgb(70, 69, 69);
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* comentar align-items : baseline */
    line-height: 120px;
    text-align: center;
    margin: 5px;
}

.flex-container{
    border: 1px solid black;
    background: #ccc;
    /* contenedor flexible : flex */
    display: flex;
    max-width: 1200px;
    height: 800px;
    /* me centra todos los elementos en el eje principal */
    justify-content: center;
    /* alinea en el centro en el eje secundario */
    align-items: center;
    flex-wrap: wrap;
    /* como se tienen que alinear las lineas al contenedor multilinea */
    /* align-content: flex-start; */
    /* los pone al reves */
    /* flex-direction: row-reverse; */
    /* que el contenedor envuelva a los elementos, el contenedor se adapta a los elementos */
    /* flex-wrap: wrap; */
    /* puedo usar esta para hacer las dos anteriores en una */
    /* flex-flow: row wrap; */
    /* a cuanta distancia va a estar un elemento del otro : gap */
    gap: 60px;
    
}
.elemento3{
    align-self: flex-start;
}

/* cambiar orden de las cosas trabajando con el flex-items */

/* .elemento1{
    order: -1;
 }

.elemento3{
    order: -1;
} */

/* distribuir espacio sobrante */
/* .elemento1{
    crece
    flex-grow: 3;
    en vez de definir ancho usamos esta propiedad
    flex-basis: 200px;
} */

/* .elemento2{
    se mantiene fijo
    flex-basis: 200px;
} */

/* .elemento3{
    flex-grow: 1;
    cuanto se va a achicar
    flex-shrink: 2;
} */

/* .elemento4{
    flex-basis: 2;
} */
/* si quiero que todos crezcan de la misma manera les tengo que poner el mismo grow */


