.hero-banner{
    background-image: url(../img/fondo\ neg.jpg);
    height: 95vh;
    background-size: cover;
    background-position: top    5%  center;
    color: white;
    padding: 0  80px;
    display: flex;
    align-items: start;
    justify-content: flex-end;
    text-align: center;
}

.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.hero-content h3{
    color: #a352f0;
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.hero-content p{
    color: #a352f0;
    margin-bottom: 20px;
}

.hero-content .btn{
    background-color: #a352f0;
    color: white;
    border: none;
    padding: 12px   25px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s    ease;
}

.hero-content .btn:hover{
    background-color: #8a25e8;
}

main{
    min-height: 80vh;
}
