.container{
    width: 90%;
    max-width: 1200px;
    margin: 0   auto;
    padding: 0  15px;
}

.section-title{
    text-align: center;
    margin-bottom: 32px;
    font-size: 36px;
    position: relative;
    padding-bottom: 8px;
}

.categorias-container,
.productos-container,
.nuevos-lanzamientos-container,
.ofertas-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.resenas-grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 30px;
}
